#life{
    background-image: url(../media/life_bg_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
    margin: 130px 0 100px;
}